/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-bg: #FBFDFF;
    --secondary-bg: #F2F8FF;
    --primary-accent: #2D3748;
    --secondary-accent: #85C7F2;
    --primary-text: #0E0E11;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.form-input {
    width: 100%;
    padding-left: 3.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: #f3f4f6;
    /* gray-100 */
    background-color: rgba(249, 250, 251, 0.5);
    /* gray-50/50 */
    color: #1f2937;
    /* gray-800 */
    font-weight: 500;
    transition: all 300ms;
}

.form-input:focus {
    outline: 2px solid transparent;
    border-color: #3182CE;
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(49, 130, 206, 0.1);
}